
<html>
<head>
    <title>Login</title>
</head>
<body>
    <h1>Hello. This is the Login Page</h1>
    <form action="~/Controllers/Home/Login" method="post">
        <input type="text" name="username" />
        <input type="text" name="password" />
        <button type="submit">Login</button>
    </form>
</body>
</html>
