
<html>
<head>
    <title>Register</title>
</head>
<body>
    <h1>Hello. This is the Register Page</h1>
    <form action="~/Controllers/Home/Register" method="post">
        <input type="text" name="username" />
        <input type="text" name="password" />
        <button type="submit">Register</button>
    </form>
</body>
</html>
